.mailform{
   margin: 2rem 2rem
}

.tom{
  width: 70rem;
  margin-bottom: 1rem;
}

.mailbox{
    height: 19rem;
}

.btn button{
    background-color:  rgb(96, 96, 217);
    width: 5rem;
    color: white;
    cursor: pointer;
    border-color: white;
    border-radius: 3px;
}