.myheader1{
    background-color:  rgb(96, 96, 217);
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    
}

.headertext{
    color: white;
    
}